<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LDVHWeb</display-name>
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>PageAccueilJSP</servlet-name>
		<jsp-file>/WEB-INF/pages/accueil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageAccueilJSP</servlet-name>
		<url-pattern>/Accueil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageLivreJSP</servlet-name>
		<jsp-file>/WEB-INF/pages/livre.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageLivreJSP</servlet-name>
		<url-pattern>/Livre</url-pattern>
	</servlet-mapping>
</web-app>